@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap');

:root {
  /* PRIMARY */
  --primary-soft-red: hsl(7, 99%, 70%);
  --primary-soft-red-transparent: rgba(254, 121, 103, 0.25);
  --primary-yellow: hsl(51, 100%, 49%);
  --primary-yellow-transparent: rgba(250, 212, 0, 0.25);
  --primary-desaturated-cyan: hsl(167, 40%, 24%);
  --primary-dark-blue: hsl(198, 62%, 26%);
  --primary-moderate-cyan: hsl(168, 34%, 41%);
  /* NEUTRAL */
  --dark-desaturated-blue: hsl(212, 27%, 19%);
  --very-dark-greyish-blue: hsl(213, 9%, 39%);
  --dark-greyish-blue: hsl(232, 10%, 55%);
  --greyish-blue: hsl(210, 4%, 67%);
  --white: hsl(0, 0%, 100%);
  /* FONTS */
  --barlow: 'Barlow', sans-serif;
  --fraunces: 'Fraunces', serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
}

ul,
a {
  list-style: none;
  text-decoration: none;
}

img {
  display: block;
}

/* NAVIGATION */

.logo {
  width: 17rem;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 5rem 4rem;
  background-color: transparent;

  margin-bottom: 5rem;
}

.nav__links {
  display: flex;
  gap: 4.6rem;
}

.nav__link,
.nav__link:visited,
.nav__link:active {
  font-family: var(--barlow);
  color: var(--white);
}

.btn,
.btn:visited,
.btn:active {
  font-family: var(--fraunces);
  font-size: 1.5rem;
  color: var(--dark-desaturated-blue);
  text-transform: uppercase;

  padding: 1.6rem 3.2rem;
  background-color: var(--white);
  border-radius: 28px;

  transition: all 0.1s linear;
}

.btn:hover {
  color: var(--white);
  background-color: rgba(255, 255, 255, 0.25);
}

/* HEADER CONTENT */
.header {
  background-image: url('../images/desktop/image-header.jpg');
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  height: 80rem;
}

.header__content {
  max-width: 75rem;
  margin: 0 auto;
  display: grid;
  justify-items: center;
}

.arrow__down {
  display: inline-block;
}

.header__title {
  font-size: 5.6rem;
  font-family: var(--fraunces);
  font-weight: 900;
  color: var(--white);
  text-transform: uppercase;
  letter-spacing: 1rem;

  margin-bottom: 9.6rem;
}

/* ABOUT */
.about {
  display: grid;
  grid-template-rows: repeat(2, auto-fill);
  /* place-items: center; */
  width: 100%;
}

.about__content-yellow {
  display: flex;
  align-items: center;

  width: 100%;
}

.about__content-red {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;

  width: 100%;
}

.about__description-container {
  max-width: 42.5rem;
  margin: 0 auto;
}

.about__header {
  font-size: 4rem;
  font-family: var(--fraunces);
  color: var(--dark-desaturated-blue);

  margin-bottom: 3.2rem;
}

.about__description {
  color: var(--dark-greyish-blue);
  line-height: 1.5;
  font-family: var(--barlow);
  margin-bottom: 4rem;
}

/* LEARN MORE BUTTON */
.btn__yellow,
.btn__yellow:active,
.btn__yellow:visited {
  color: var(--dark-desaturated-blue);
  font-size: 1.5rem;
  font-family: var(--fraunces);
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  position: relative;
}

.btn__yellow::before {
  content: '';
  position: absolute;
  top: 60%;
  left: -7%;
  width: 13.6rem;
  height: 10px;
  background-color: var(--primary-yellow-transparent);

  transition: all 0.1s linear;
  border-radius: 28px;
  z-index: -1;
}

.btn__yellow:hover::before {
  background-color: var(--primary-yellow);
}

.btn__red,
.btn__red:active,
.btn__red:visited {
  color: var(--dark-desaturated-blue);
  font-size: 1.5rem;
  font-family: var(--fraunces);
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  position: relative;
}

.btn__red::before {
  content: '';
  position: absolute;
  top: 60%;
  left: -7%;
  width: 13.6rem;
  height: 10px;
  background-color: var(--primary-soft-red-transparent);

  transition: all 0.1s linear;
  border-radius: 28px;
  z-index: -1;
}

.btn__red:hover::before {
  background-color: var(--primary-soft-red);
}

.egg__img,
.glass__img {
  width: 100%;
}

.egg__img-desktop,
.glass__img-desktop {
  flex-basis: 50%;
}

.egg__img-mobile,
.glass__img-mobile {
  display: none;
}

/* SERVICES SECTION */
.services__header {
  font-size: 2.8rem;
  font-family: var(--fraunces);
  font-weight: 900;
  margin-bottom: 2.8rem;
}

.services__description {
  font-size: 1.6rem;
  font-family: var(--barlow);
  line-height: 1.5;
}

/* Graphic design */

.services__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  width: 100%;
}
.graphic__design {
  position: relative;
}

.graphic__wrapper {
  position: absolute;
  width: 36rem;
  text-align: center;
  bottom: 6rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.graphic__wrapper h3 {
  color: var(--primary-desaturated-cyan);
}

.graphic__wrapper p {
  color: var(--primary-moderate-cyan);
}

.graphic__img-desktop {
  width: 100%;
}

.graphic__img-mobile {
  display: none;
}

/* Photography */
.photography {
  position: relative;
}

.photography__wrapper {
  position: absolute;
  width: 34rem;
  text-align: center;
  bottom: 6rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.photography__wrapper h3,
.photography__wrapper p {
  color: var(--primary-dark-blue);
}

.photography__img-desktop {
  width: 100%;
}

.photography__img-mobile {
  display: none;
}

/* TESTIMONIALS */
.testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16rem 6rem;
}

.testimonials__header {
  font-size: 2rem;
  font-family: var(--fraunces);
  font-weight: 900;
  color: var(--greyish-blue);
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  margin-bottom: 8rem;
}

.testimonials__wrapper {
  display: flex;
  gap: 3rem;
}

.testimonial {
  max-width: 33rem;
  text-align: center;
}

.testimonial__text {
  color: var(--very-dark-greyish-blue);
  margin-bottom: 6.8rem;
  line-height: 1.5;
}

.costumer__img {
  width: 72px;
  margin: 0 auto 5.8rem;
  border-radius: 50px;
}

.testimonial__name {
  font-family: var(--fraunces);
  color: var(--dark-desaturated-blue);
  margin-bottom: 1rem;
}

.testimonial__role {
  font-size: 1.4rem;
  color: var(--greyish-blue);
}

/* Attribution */
.attribution {
  display: none;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
